.home {
    margin-top: 10rem;
    color: white;
    line-height: 2.2;
    h1 {
        margin-top: 2rem;
    }
    .page {
        font-size: 1.25rem;
        color: white;
        border-bottom: solid 0.15rem white !important;
    }
}