.team {
    margin-top: 5rem;
    background-image: url(../images/team-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    position: relative;
    padding-bottom: 5rem;
    button {
        width: 16rem;
        height: 2.5rem;
        right: 15%;
        position: absolute;
        margin-bottom: 5rem;
        top: 85%;
    }
    .title-text {
        padding-top: 5rem;
        text-align: left;
    }
    .pictures {
        display: inline;
        flex-wrap: wrap;
        justify-content: center;
        img {
            margin: 0;
            padding: 0;
            width: calc(100%/4.1);
        }
    }
}